DesktopClient/MessageCenter/Web References/MessageGateway/MessageGatewayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="MessageType" type="s:int" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:int" />
    <wsdl:part name="RetryOnError" type="s:boolean" />
    <wsdl:part name="Reportflag" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="SendMessageResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="CC" type="s:string" />
    <wsdl:part name="BCC" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="SendEmailResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="SendSMSResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RetryOnError" type="s:string" />
    <wsdl:part name="Reportflag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="CC" type="s:string" />
    <wsdl:part name="BCC" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendSMSHttpGetIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RetryOnError" type="s:string" />
    <wsdl:part name="Reportflag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpPostIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="CC" type="s:string" />
    <wsdl:part name="BCC" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEmailHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SendSMSHttpPostIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="MessageGatewayServiceSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MessageGatewayServiceHttpGet">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpGetIn" />
      <wsdl:output message="tns:SendMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailHttpGetIn" />
      <wsdl:output message="tns:SendEmailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSHttpGetIn" />
      <wsdl:output message="tns:SendSMSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MessageGatewayServiceHttpPost">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpPostIn" />
      <wsdl:output message="tns:SendMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailHttpPostIn" />
      <wsdl:output message="tns:SendEmailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSHttpPostIn" />
      <wsdl:output message="tns:SendSMSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageGatewayServiceSoap" type="tns:MessageGatewayServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="SendMessage" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="SendEmail" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="SendSMS" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://tempuri.org/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageGatewayServiceSoap12" type="tns:MessageGatewayServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="SendMessage" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://tempuri.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="SendEmail" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://tempuri.org/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="SendSMS" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://tempuri.org/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageGatewayServiceHttpGet" type="tns:MessageGatewayServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <http:operation location="/SendSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageGatewayServiceHttpPost" type="tns:MessageGatewayServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <http:operation location="/SendEmail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <http:operation location="/SendSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageGatewayService">
    <wsdl:port name="MessageGatewayServiceSoap" binding="tns:MessageGatewayServiceSoap">
      <soap:address location="http://218.16.64.234:802/MessageGatewayService.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageGatewayServiceSoap12" binding="tns:MessageGatewayServiceSoap12">
      <soap12:address location="http://218.16.64.234:802/MessageGatewayService.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageGatewayServiceHttpGet" binding="tns:MessageGatewayServiceHttpGet">
      <http:address location="http://218.16.64.234:802/MessageGatewayService.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageGatewayServiceHttpPost" binding="tns:MessageGatewayServiceHttpPost">
      <http:address location="http://218.16.64.234:802/MessageGatewayService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>