DesktopClient/MessageCenter/Web References/MessageCenterservice/MessageCenterservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xxyj6450.s181.288idc.com/WebService.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xxyj6450.s181.288idc.com/WebService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xxyj6450.s181.288idc.com/WebService.asmx">
      <s:element name="getData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usercode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QueryString" type="tns:Command" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CommandText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CommandType" type="tns:CommandType" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfParameter" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CommandType">
        <s:restriction base="s:string">
          <s:enumeration value="Text" />
          <s:enumeration value="StoredProcedure" />
          <s:enumeration value="TableDirect" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Direction" type="tns:ParameterDirection" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceVersion" type="tns:DataRowVersion" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceColumn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:SqlDbType" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ParameterDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Input" />
          <s:enumeration value="Output" />
          <s:enumeration value="InputOutput" />
          <s:enumeration value="ReturnValue" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DataRowVersion">
        <s:restriction base="s:string">
          <s:enumeration value="Original" />
          <s:enumeration value="Current" />
          <s:enumeration value="Proposed" />
          <s:enumeration value="Default" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SqlDbType">
        <s:restriction base="s:string">
          <s:enumeration value="BigInt" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Bit" />
          <s:enumeration value="Char" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Float" />
          <s:enumeration value="Image" />
          <s:enumeration value="Int" />
          <s:enumeration value="Money" />
          <s:enumeration value="NChar" />
          <s:enumeration value="NText" />
          <s:enumeration value="NVarChar" />
          <s:enumeration value="Real" />
          <s:enumeration value="UniqueIdentifier" />
          <s:enumeration value="SmallDateTime" />
          <s:enumeration value="SmallInt" />
          <s:enumeration value="SmallMoney" />
          <s:enumeration value="Text" />
          <s:enumeration value="Timestamp" />
          <s:enumeration value="TinyInt" />
          <s:enumeration value="VarBinary" />
          <s:enumeration value="VarChar" />
          <s:enumeration value="Variant" />
          <s:enumeration value="Xml" />
          <s:enumeration value="Udt" />
          <s:enumeration value="Structured" />
          <s:enumeration value="Date" />
          <s:enumeration value="Time" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="CONNID" type="s:string" />
    <wsdl:part name="NodeID" type="s:string" />
    <wsdl:part name="NodeUsercode" type="s:string" />
    <wsdl:part name="NodePassword" type="s:string" />
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="CC" type="s:string" />
    <wsdl:part name="Bcc" type="s:string" />
    <wsdl:part name="MessageType" type="s:int" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:int" />
    <wsdl:part name="RetryOnError" type="s:boolean" />
    <wsdl:part name="Reportflag" type="s:int" />
    <wsdl:part name="MessageID" type="s:string" />
    <wsdl:part name="InterfaceID" type="s:string" />
    <wsdl:part name="Param" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="SendMessageResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="NotifyStatusSoapIn">
    <wsdl:part name="Reciver" type="s:string" />
    <wsdl:part name="SequenceNo" type="s:string" />
    <wsdl:part name="MessageID" type="s:string" />
    <wsdl:part name="Recipient" type="s:string" />
    <wsdl:part name="NotifyType" type="s:int" />
    <wsdl:part name="Status" type="s:int" />
    <wsdl:part name="Text" type="s:string" />
    <wsdl:part name="Reserve" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyStatusSoapOut">
    <wsdl:part name="NotifyStatusResult" type="s:int" />
    <wsdl:part name="Reserve" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EchoOfSendSMSSoapIn">
    <wsdl:part name="Reciver" type="s:string" />
    <wsdl:part name="SequenceNo" type="s:string" />
    <wsdl:part name="MessageID" type="s:string" />
    <wsdl:part name="Recipient" type="s:string" />
    <wsdl:part name="Status" type="s:int" />
    <wsdl:part name="ErrorCode" type="s:int" />
    <wsdl:part name="Reserve" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EchoOfSendSMSSoapOut">
    <wsdl:part name="EchoOfSendSMSResult" type="s:int" />
    <wsdl:part name="Reserve" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecieveMessageSoapIn">
    <wsdl:part name="Reciver" type="s:string" />
    <wsdl:part name="SequenceNo" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="From" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:int" />
    <wsdl:part name="RecieveTime" type="s:dateTime" />
  </wsdl:message>
  <wsdl:message name="RecieveMessageSoapOut">
    <wsdl:part name="RecieveMessageResult" type="s:int" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Version" type="s:string" />
    <wsdl:part name="TerminalID" type="s:string" />
    <wsdl:part name="IPAddress" type="s:string" />
    <wsdl:part name="ComputerName" type="s:string" />
    <wsdl:part name="MAC" type="s:string" />
    <wsdl:part name="CPUID" type="s:string" />
    <wsdl:part name="DISKID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="LoginResult" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDataSoapIn">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="getDataSoapOut">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetIn">
    <wsdl:part name="CONNID" type="s:string" />
    <wsdl:part name="NodeID" type="s:string" />
    <wsdl:part name="NodeUsercode" type="s:string" />
    <wsdl:part name="NodePassword" type="s:string" />
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="CC" type="s:string" />
    <wsdl:part name="Bcc" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RetryOnError" type="s:string" />
    <wsdl:part name="Reportflag" type="s:string" />
    <wsdl:part name="MessageID" type="s:string" />
    <wsdl:part name="InterfaceID" type="s:string" />
    <wsdl:part name="Param" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RecieveMessageHttpGetIn">
    <wsdl:part name="Reciver" type="s:string" />
    <wsdl:part name="SequenceNo" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="From" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RecieveTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecieveMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Version" type="s:string" />
    <wsdl:part name="TerminalID" type="s:string" />
    <wsdl:part name="IPAddress" type="s:string" />
    <wsdl:part name="ComputerName" type="s:string" />
    <wsdl:part name="MAC" type="s:string" />
    <wsdl:part name="CPUID" type="s:string" />
    <wsdl:part name="DISKID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostIn">
    <wsdl:part name="CONNID" type="s:string" />
    <wsdl:part name="NodeID" type="s:string" />
    <wsdl:part name="NodeUsercode" type="s:string" />
    <wsdl:part name="NodePassword" type="s:string" />
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="CC" type="s:string" />
    <wsdl:part name="Bcc" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RetryOnError" type="s:string" />
    <wsdl:part name="Reportflag" type="s:string" />
    <wsdl:part name="MessageID" type="s:string" />
    <wsdl:part name="InterfaceID" type="s:string" />
    <wsdl:part name="Param" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RecieveMessageHttpPostIn">
    <wsdl:part name="Reciver" type="s:string" />
    <wsdl:part name="SequenceNo" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="From" type="s:string" />
    <wsdl:part name="Sender" type="s:string" />
    <wsdl:part name="Title" type="s:string" />
    <wsdl:part name="Content" type="s:string" />
    <wsdl:part name="Format" type="s:string" />
    <wsdl:part name="RecieveTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecieveMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="Usercode" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Version" type="s:string" />
    <wsdl:part name="TerminalID" type="s:string" />
    <wsdl:part name="IPAddress" type="s:string" />
    <wsdl:part name="ComputerName" type="s:string" />
    <wsdl:part name="MAC" type="s:string" />
    <wsdl:part name="CPUID" type="s:string" />
    <wsdl:part name="DISKID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MessageCenterServiceSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyStatus">
      <wsdl:input message="tns:NotifyStatusSoapIn" />
      <wsdl:output message="tns:NotifyStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EchoOfSendSMS">
      <wsdl:input message="tns:EchoOfSendSMSSoapIn" />
      <wsdl:output message="tns:EchoOfSendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:input message="tns:RecieveMessageSoapIn" />
      <wsdl:output message="tns:RecieveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataSoapIn" />
      <wsdl:output message="tns:getDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MessageCenterServiceHttpGet">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpGetIn" />
      <wsdl:output message="tns:SendMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:input message="tns:RecieveMessageHttpGetIn" />
      <wsdl:output message="tns:RecieveMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MessageCenterServiceHttpPost">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpPostIn" />
      <wsdl:output message="tns:SendMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:input message="tns:RecieveMessageHttpPostIn" />
      <wsdl:output message="tns:RecieveMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageCenterServiceSoap" type="tns:MessageCenterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="SendMessage" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyStatus">
      <soap:operation soapAction="NotifyStatus" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoOfSendSMS">
      <soap:operation soapAction="EchoOfSendSMS" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap:operation soapAction="RecieveMessage" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="Login" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://xxyj6450.s181.288idc.com/WebService.asmx/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageCenterServiceSoap12" type="tns:MessageCenterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="SendMessage" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyStatus">
      <soap12:operation soapAction="NotifyStatus" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoOfSendSMS">
      <soap12:operation soapAction="EchoOfSendSMS" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap12:operation soapAction="RecieveMessage" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="Login" style="rpc" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://xxyj6450.s181.288idc.com/WebService.asmx" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://xxyj6450.s181.288idc.com/WebService.asmx/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageCenterServiceHttpGet" type="tns:MessageCenterServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <http:operation location="/RecieveMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageCenterServiceHttpPost" type="tns:MessageCenterServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <http:operation location="/RecieveMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageCenterService">
    <wsdl:port name="MessageCenterServiceSoap" binding="tns:MessageCenterServiceSoap">
      <soap:address location="http://218.16.64.234:802/MessageCenterservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageCenterServiceSoap12" binding="tns:MessageCenterServiceSoap12">
      <soap12:address location="http://218.16.64.234:802/MessageCenterservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageCenterServiceHttpGet" binding="tns:MessageCenterServiceHttpGet">
      <http:address location="http://218.16.64.234:802/MessageCenterservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageCenterServiceHttpPost" binding="tns:MessageCenterServiceHttpPost">
      <http:address location="http://218.16.64.234:802/MessageCenterservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>